@charset "UTF-8";
@font-face {
  font-family: "Promixa Nova";
  src: url("fonts/ProximaNova-Regular.ttf") format("ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  color: #333333;
  background-color: #fffefb;
  font-family: "Promixa Nova", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 50px;
  font-weight: 800;
}

h3 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 50px;
}

h4 {
  font-size: 38px;
  font-weight: 800;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

h6 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32.5px;
}

.subtitle {
  font-weight: 700;
}

.regular {
  font-size: 20px;
  line-height: 30px;
}

.regular-small {
  font-size: 16px;
  line-height: 20px;
}

.button {
  font-size: 20px;
  color: #333333;
  font-weight: 600;
}

br {
  display: block;
  margin: 5px;
  content: " ";
  line-height: 10px;
}

.title {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 99px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.nav li {
  display: inline-block;
  border-right: 1px solid rgba(51, 51, 51, 0.1);
  padding: 0 1vw;
}
.nav li:last-child {
  border-right: none;
}
.nav__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__right-side_social-links a {
  margin-right: 12px;
}
.nav__right-side_social-links a:last-child {
  margin-right: 40px;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 254, 252);
  background-image: url("img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 75px;
}
.header__block {
  margin-top: 100px;
}
.header__block_top {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__block_top button {
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%);
  border-radius: 5px;
  padding: 20px 82px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.header__block_bottom {
  text-align: center;
}
.header__block_bottom p {
  margin: 7px 0 16px 0;
}
.header__slider_btns {
  position: absolute;
  bottom: 0;
}
.header__slider_btns ul {
  display: flex;
  gap: 17px;
}
.header__slider_btns li {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(51, 51, 51, 0.2);
  border-radius: 50%;
}
.header__slider_btns_active {
  background-color: #FFD00E;
  border: 1px solid #FFD00E !important;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Зміна відстані, на яку картинка переміщається вгору */
  }
}
.myImage {
  animation-name: moveUpDown;
  animation-duration: 2s; /* Тривалість анімації */
  animation-iteration-count: infinite; /* Зациклення анімації */
  animation-timing-function: ease-in-out; /* Згладжування руху, ви можете вибрати інше значення */
}

/*main*/
.section {
  margin: 100px 0;
  padding: 0 75px;
}

.check {
  position: relative;
}
.check > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.check__scrollbar {
  overflow: auto;
  max-height: 390px;
  padding-right: 10px;
}
.check__scrollbar::-webkit-scrollbar {
  width: 5px;
}
.check__scrollbar::-webkit-scrollbar-thumb {
  background-color: #FFD00E;
}
.check__scrollbar::-webkit-scrollbar-track {
  background-color: #F9F9F9;
}
.check::before {
  content: "";
  display: block;
  width: 728px;
  height: 809px;
  position: absolute;
  bottom: -70%;
  left: -10%;
  background: url("img/blob.png") no-repeat center center;
  z-index: -1;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 50px 75px;
  background: linear-gradient(134.04deg, #FFDF00 -7.01%, #FFB800 109.07%), linear-gradient(0deg, #FFFEFC, #FFFEFC);
}
.about p, .about h6 {
  max-width: 870px;
}
.about br {
  margin: 7.5px;
}
.about__logos {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 28px;
}

.contribution__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contribution__cards div {
  position: relative;
  padding: 20px 30px;
  max-width: 570px;
  overflow: hidden;
  border: 2px solid #f5f6f6;
  border-radius: 10px;
}
.contribution__cards div :nth-child(2) {
  margin: 15px 0;
}
.contribution__cards div::after {
  content: "";
  display: block;
  position: absolute;
  height: 266px;
  width: 266px;
  left: 105%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fffae6;
  z-index: -1;
  transition: 0.5s;
}
.contribution__cards div:hover {
  cursor: pointer;
}
.contribution__cards div:hover::after {
  content: "";
  display: block;
  width: 400%;
  border-radius: 0;
  background-color: #fffae6;
  z-index: -1;
}

.working-with-us {
  position: relative;
}

.carousel {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin: -20px;
}
.carousel div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(75, 85, 89, 0.1019607843);
  border-radius: 4.39px;
  padding: 0 19px;
  min-width: 270px;
  height: 147px;
}
.carousel div:hover {
  cursor: pointer;
}
.carousel__btn {
  width: 56px;
  height: 53px;
  position: absolute;
}
.carousel__btn_left {
  left: 4%;
  top: 67%;
  transform: translate(-50%, -50%);
}
.carousel__btn_right {
  left: 97%;
  top: 67%;
  transform: translate(-50%, -50%);
}
.carousel__btn_active {
  background-color: #FFE30B;
}

@media screen and (max-width: 1900px) {
  .carousel {
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
